* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 1;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--bg-color);
    text-transform: uppercase;
    background-color: var(--text-color);
    transition: 0.2s;
}

.theme:hover {
    transform: scale(1.09);
    transition: 0.3s;
}

 :root {
    --bg-color: #23232f;
    --text-color: #fff;
    --btn-color: #676eff;
}

body[data-theme="dark"] {
    --bg-color: #23232f;
    --text-color: #fff;
    --btn-color: #676eff;
}

body[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #000;
    --btn-color: #72b626;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    font-family: monospace;
    transition: 0.5s;
}

.questions {
    width: 80%;
    text-align: left;
    margin: auto;
}

.wrap-question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question {
    width: 48%;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px;
}

.question h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.question span {
    text-decoration: underline;
    color: var(--btn-color);
}

.question .answer {
    font-size: 17px;
    margin-bottom: 3px;
}

label,
button,
input {
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

input[type="submit"] {
    padding: 10px 8px;
    background: var(--btn-color);
    outline: none;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    transition: 0.3s;
    margin-left: 6px;
}

input[type="submit"]:hover {
    transform: scale(1.03);
}